body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;

    text-align: center;

    margin: 0;
    padding: 0;
}


p {
    font-size: 5vw;

    margin: 0;
    padding: 0;
}


button {
    font-size: 4vw;

    margin: 1em 0 1em 0;
    padding: 0;

    width: 5em;
    min-height: 80px;
}
